.errorFlag{
    position: fixed;
    bottom: -50%;
    background-color: red;
    border-radius: 35px;
    width: 37rem;
    color: white;
    font-size: 30px;
    transform: translateX(100%);
    text-align: center;
    transition: .5s all;
}


.animate{
    bottom: 5%;
   
}


