.title{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.brand{
    font-weight: 400;
    font-size: 30px;
    margin-top: 0.8rem;
}
.price {

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

}

/* .arrows{
    display: flex;
    gap: 1rem;
    right: 31%;
    display: block;
    bottom: 14%;
}

.arrows li{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.73);
} */

.subheader{
    font-style: normal;
    font-weight: 700;
    font-size: 93%;
    line-height: 18px;
}

.pad_left{
    font-size: 1rem;
    margin: 2rem 0px;
    background-color: #fff;
    grid-template-columns: 70% 26%;
    gap: 3rem;
    padding-left: 7.5rem;
}

.ul_padder{
    display: flex;
    padding: 0;
    gap: 0.5rem;
    width: 13rem;
    max-width: 100%;

}

