.cart{
    background-color: white;
    position: absolute;
    width: min-content;
    padding-inline: .5rem;
    top: 100%;
    right: 2%;
    display: flex;
    flex-direction: column;
    z-index: 10000;

}

.alt_header{
    text-align: center;
    width: 15rem;
}
.top_div{
    color: black;
    background-color: #fff;
    width: 25rem;
    overflow-y: scroll;
    height: 100%;
    max-height: 42rem;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pad_left{
    padding-left: 1rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.pad_left span{
    padding-left: 3px;
    font-weight: 500;
    line-height: 160%;
}

.shirt_details{
    display: flex;

}

.shirt_details ul{
    display: flex;
}

.bottom_div{
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    background-color: white;
    margin-bottom: 3rem;
    gap: 1rem;
}

.bottom_div button{
    border: none;
    font-family: 'Raleway';
    
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    width: 10rem;
    text-transform: uppercase;
    height: 4rem;
}

.bottom_div button:nth-child(1){
    border: 2px solid #1D1F22;
    background-color: #fff;
}

.bottom_div button:nth-child(2){
    background-color: #5ECE7B;
    width: 11rem; 
    color: white;
}
.total{
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.4rem;
    line-height: 18px;
}
