/* .container{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 90% 10%;
    height: 100%;
} */


.bigger_container{
    display: grid;
    grid-auto-flow: column;
    position: relative;
    grid-auto-columns: 50% 50%;
    grid-template-rows: 100%;
    height: max-content;
}

.bigger_container hr{
    display: none;
}