.ul_padder{
    display: flex;
    padding: 0;
    gap: 0.5rem;
    width: 13rem;
    max-width: 89%;
    pointer-events: none;

}



.title , .brand{
   
    font-style: normal;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 0;
    font-size: 1.2rem;
    line-height: 27px;
}

.pad_left{
    padding-left: .5rem;
}

.pad_left > p:first-child{
    margin: 0;
}

.pad_left hr{
    display: none;
}

.sizer li{
    /* border: 2px solid black; */
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
    line-height: 160%;
    width: 32px;
    height: 32px;
    user-select: none;
    max-width: 100%;
    text-align: center;
}

.Not_sizer li{
    border: 2px solid black;
    font-family: 'Source Sans Pro';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
    line-height: 160%;
    width: 5rem;
    height: 2rem;
    user-select: none;
    max-width: 100%;
    text-align: center;
}

.pad_left ul li p{
    background-color: rgb(68, 255, 3);
    width: 100%;
    margin: 0;
    height: 100%;
}


.selected{
    background-color: black;
    color: white;
}

.color_selected{

    position: relative;
    /* border: 1px solid rgb(68, 255, 3); */
}

.color_selected::after{

    content: '';
    position: absolute;
    inset: -3px;
    border: 1px solid rgb(68, 255, 3);
}

.color_selected::before{
    content: '';
    position: absolute;
    inset: -3px;
    border: 2px solid rgb(255, 255, 255);
}


.color_siezer{
    gap: .3rem;
    margin: 0;
}
.color_siezer input{
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;

}

.pad_left p{
    width: 80%;
    /* font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 4px; */
}

.subheader{
    width: 100%;
    font-style: normal;
font-weight: 700;
font-size: 93%;
line-height: 18px;
}

.price{
    font-weight: bolder;
}

