.clicked{
    pointer-events: none;
}

.tooltop{
    position: absolute;
    color: red;
    width: max-content;
    font-weight: bolder;
    padding: 6px;
    visibility: visible;
    background-color: aqua;
    border-radius: 35px;
    top: 55%;
    font-size: 12px;
}

.show{
    display: none;
}