.clicked{
    pointer-events: none;
}

.tooltop{
    position: absolute;
    color: red;
    width: max-content;
    font-weight: bolder;
    padding: 6px;
    visibility: visible;
    background-color: aqua;
    border-radius: 35px;
    top: 55%;
    font-size: 12px;
}

.show{
    display: none;
}

.counter{
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    width: 9px;
    height: 9px;
    top: -17%;
    right: -61%;
    align-items: center;
    justify-content: center;
    animation: scaler .3s forwards ease-in-out;
}

@keyframes scaler {

    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(2);
        background-color: red;
    }

    100%{
        transform: scale(1);
    }
    
}