/* unordered list styling */
*{
    font-family: 'Raleway';
}
ul{
    list-style: none;
}

nav{
    display: flex;
    position: fixed;
    inset: 0;
    background-color: #fff;
    height: 80px;
    align-items: center;
    z-index: 10000;
   
}

nav::after{
    content: '';
    height: 3rem;
}

.logo{
    position: absolute;
    left: 50%;
}




.left_list{
    display: flex;
    font-family: 'Raleway';
    text-transform: uppercase;
    column-gap: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    padding-left: 0;
    position: absolute;
    left: 4%;
    
    
}
.left_list li{
    height: 30px;
    padding: 0px 2px;
    transition: .5s all;
    
    border-bottom: 2px solid transparent;

}
.left_list li a{
    text-decoration: none;
    color: black;
    transition: .5s all;

}

 .left_list li:hover > a{

    color:  #5ece7b;

} 


.left_list li:hover {
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
    cursor: pointer;
    
}






.right_list{

    display: flex;
    text-transform: uppercase;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    line-height: 160%;
    position: absolute;
    padding-left: 0;
    user-select: none;
    width: 7rem;
    right: 4%;

    
}

.right_list>div{
    cursor: pointer;
    width: 50%;
    display: flex;
    height: 29px;
    
    align-items: center;
    justify-content: center;
}

.currency_div{

    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    gap: .6rem;
 
    
}

.currency_div svg{
  
    width: 12px;

}

.upArrow svg{
    transform: rotate(180deg);
}

/* .right_list li:first-child::after{
    content: 'v ';
    position: absolute;
    /* top: 42%; 
    bottom: 40%;
    right: 62%;
    
}

.upArrow::after{

    border-color: transparent transparent black transparent !important;
 
} */
