/* unordered list styling */

ul{
    list-style: none;
}

nav{
    display: flex;
    position: fixed;
    inset: 0;
    background-color: #fff;
    height: 80px;
    align-items: center;
    z-index: 10000;
   
}

nav::after{
    content: '';
    height: 3rem;
}

.logo{
    position: absolute;
    left: 50%;
}




.left_list{
    display: flex;

    text-transform: uppercase;
    column-gap: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    padding-left: 0;
    position: absolute;
    left: 4%;
    
    
}
.left_list li{
    height: 30px;
    padding: 0px 2px;
    transition: .5s all;
    
    border-bottom: 2px solid transparent;

}
.left_list li a{
    text-decoration: none;
    color: black;
    transition: .5s all;

}

 .left_list li:hover > a{

    color:  #5ece7b;

} 


.left_list li:hover {
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
    cursor: pointer;
    
}






.right_list{

    display: flex;
    text-transform: uppercase;
    column-gap: 80%;
    align-items: center;
    justify-content: center;
    line-height: 160%;
    position: absolute;
    padding-left: 0;
    right: 4%;

    
}

.right_list li:first-child{
    width: 12px;
    height: 29px;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
}



.right_list li:first-child::after{
    content: '';
    position: absolute;
    bottom: 40%;
    right: 73%;
    border-color: #68717a transparent transparent transparent;
    border-style: solid;
}

.right_list li:nth-child(2){
    height: 18px;
}
