.card{
    width: 386px;
    height: 444px;
    display: grid;
    grid-template-rows: 21rem 3rem 3rem;
    padding: 16px;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card:hover{
    cursor: pointer;
}

.card:hover .cart_adder{
    transform: scale3d(1,1,1);
}

.cart_adder{
    position: absolute;
    bottom: 13%;
    left: 77%;
    transition: .5s all;
    transform: scale3d(0,0,0);
}
.card img , .card_image{
   height: 100%;
}

.card .price{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 160%;
}