
.card{
    width: 386px;
    height: 444px;
    display: grid;
    grid-template-rows: 21rem 3rem 3rem;
    padding: 16px;
    position: relative;
    flex-direction: column;
    align-content: center;
    animation: something .5s forwards ease-in-out;
    /*justify-content: center;*/
    align-items: center;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.card:hover .cart_adder{
    transform: scale3d(1,1,1);
}

.cart_adder{
    position: absolute;
    bottom: 13%;
    left: 77%;
    transition: .5s all;
    transform: scale3d(0,0,0);
}
.card img , .card_image{
    position: relative;
    height: 100%;
    text-align: center;
}

.card .price{
    
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 160%;
}

.inStock{
    height: 22rem;
    width: 100%;
    position: absolute;
    inset: 0;
    text-transform: uppercase;
    background-color: #ffffff;
    opacity: .5;
    z-index: 1;
    justify-content: center;
    /* cursor: not-allowed; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #8D8F9A;
    display: flex;
    align-items: center;
}

@keyframes something {
    from{
        opacity: 0;

    }

    to{
        opacity: 1;
      
    }
}

